프로젝트1 : 전화번호 가려주는 프로그램

In [2]:
numbers = '010-12345-23456'

def change_num(nums) :
    return anser

In [7]:
type(numbers)

str

In [8]:
numbers[-5:]

'23456'

In [9]:
numbers.replace(numbers[-5:], '#####')

'010-12345-#####'

In [12]:
def change_num(nums):
    answer=nums.replace(nums[-5:],'#####')
    return answer

In [13]:
change_num('010-123579-24688')

'010-123579-#####'

10-3. 프로젝트 2 : 리스트 평탄화

In [18]:
overlap = [[1,2],3,[[4,5,6],7],8,9]

for element in overlap:
    print(element)

[1, 2]
3
[[4, 5, 6], 7]
8
9

In [19]:
a = [[1,2],3,[[4,5,6],7],8,9]
def flatten(data):
    return output

In [20]:
type(a[0])

list

In [24]:
def flatten(data):
    output = []
    for i in data:
        if type(i) == list :
            output += flatten(i)
        else:
            output.append(i)
    return output

In [25]:
a = [[1,2],3,[[4,5,6],7],8,9]
flatten(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

10-4 프로젝트 3 : 10 이하 숫자만 곱해주는 함수

In [26]:
x = 10

if type(x) == int :
    print('정수입니다.')

정수입니다.

In [28]:
x = 10.0
if type(x) == int :
    print('정수입니다.')

In [29]:
x = 10 
if x % 1 == 0 :
    print('정수입니다.')

정수입니다.

In [31]:
x = 10.0
if x % 1 == 0 :
    print('정수입니다.')

정수입니다.

In [32]:
def int_divider(x,y):
    if x % 1 == 0 and y % 1 == 0:
        answer = x / y
    else:
        print('정수만 가능합니다.')
        answer = None
        
    return answer

In [33]:
int_divider(10,3)

3.3333333333333335

In [34]:
int_divider(-1,0.9)

정수만 가능합니다.

In [35]:
int_divider(6.0,2)

3.0

In [38]:
def mul(*values):
    return output

In [39]:
def mul(*values):
    output = 1
    for num in values:
        output *=num

In [40]:
def mul(*values):
    output =1 
    for num in values:
        if num <= 10:
            output *=num

In [41]:
def mul(*values):
    output = 1
    for num in values:
        if num <=10:
            output *=num
        else:
            pass
    return output

In [43]:
mul(2,3,4,5)

120

In [44]:
mul(3,12,10)

30